@import 'tailwindcss';
@plugin 'daisyui';

.save-btn {
    background-color: var(--color-amber-300);
    color: var(--color-black);
    border-color: var(--color-amber-400);
}

.skip-btn {
    background-color: var(--color-red-700);
    color: var(--color-white);
    border-color: var(--color-red-800);
}