<header class="flex justify-between items-center">
    <div class="inline-flex items-center p-5 text-3xl"><a href="/">Lofi <span class="font-bold">News</span></a></div>
    <div class="pr-5">
        <span class="hidden min-[550px]:inline-flex">
            <a href="/about">About</a>
        </span>
        {% if user.is_authenticated %}

            <button type="submit" class="pl-5 text-gray-400 hover:text-amber-300 hover:underline"
                data-on:click="@get('/settings')">{{ user.username }}
            </button>

            <form class="inline" method="post" action="/accounts/logout/">
                {% csrf_token %}
                <button type="submit" class="inline-flex pl-5 hover:text-amber-300 transition-colors">Log out</button>
            </form>
        {% else %}
            {% if page != 'login' %}
            <a class="inline-flex pl-5" href="/accounts/login/">Log in</a>
            {% endif %}

            {% if page != 'join' %}
            <a class="inline-flex pl-5 text-amber-300" href="/join">Join
            <span class="hidden min-[550px]:inline-flex">&nbsp;(it's free)</span></a>
            {% endif %}
        {% endif %}
    </div>
</header>
<div id="settings" class="hidden" data-signals:new-tabs="{{ new_tabs }}">
    Loading...
</div>