<header class="flex justify-between items-center">
    <div class="inline-flex items-center p-5 text-3xl"><a href="/">Lofi <span class="font-bold">News</span></a></div>
    <div class="pr-5">
        <span class="hidden min-[550px]:inline-flex hover:text-amber-300">
            <a href="/about">About</a>
        </span>
        {% if user.is_authenticated %}

            <form class="inline" method="post" action="/accounts/logout/">
                {% csrf_token %}
                <button type="submit" class="inline-flex pl-5 hover:text-amber-300 transition-colors">Log out</button>
            </form>
        {% else %}
            {% if page != 'login' %}
            <a class="inline-flex pl-5 hover:text-amber-300" href="/accounts/login/">Log in</a>
            {% endif %}

            {% if page != 'join' %}
            <a class="inline-flex pl-5 text-amber-300" href="/join">Join
            <span class="hidden min-[550px]:inline-flex">&nbsp;(it's free)</span></a>
            {% endif %}
        {% endif %}
    </div>
</header>

{% if user.is_authenticated %}
<div class="flex pl-5">
    Logged in as {{ user.username }}.
    <button type="submit" class="pl-3 text-amber-300"
        data-on:click="@get('/settings')">Change settings
    </button>
</div>
{% endif %}
{% comment %}NOTE: the data-signals here should contain initial settings for all 
user-configurable options.{% endcomment %}
<div id="settings" class="hidden" data-signals:_new-tabs="{{ new_tabs }}">
    Loading...
</div>