<div id="stories">
    {% for story in stories %}
        <article id="story-{{story.id}}" class="p-5">
            <div class="text-amber-300">
                {% if story.original_url %}
                    <a href="{{ story.original_url }}">{{ story.title }}</a>
                {% else %}
                    {{ story.title }}
                {% endif %}
            </div>
            <div class="article-body">
                {{ story.text|truncatewords:50 }}
            </div>

            <small>{{ story.data_source }} &mdash; {{ story.retrieved }}</small>
        </article>
        {% if forloop.last %}
            <span data-signals:last-id="{{ story.id }}"
                data-on-intersect="@get('/more')">Loading...</span>
        {% endif %}
    {% endfor %}
</div>
