<article id="story-{{story.id}}" class="m-5 p-5 border-5 border-double">
    <div class="text-amber-300">
        {% if story.original_url %}
            <a href="{{ story.original_url }}" data-on:click="$_newTabs && openLink(evt, '{{ story.original_url }}')">{{ story.title }}</a>
        {% else %}
            {{ story.title }}
        {% endif %}
    </div>
    {% if story.text %}
        <div class="article-body pt-5">
            {{ story.text|truncatewords:50 }}
        </div>
    {% endif %}

    {% include "frontend/story_panel.html" %}
</article>