<div id="settings" class="pl-5">
    <form class="inline" method="post" data-on:change="@post('/settings', {contentType: 'form'})">
        {% csrf_token %}
        <fieldset class="fieldset bg-base-100 border-base-300 rounded-box w-64 border p-4">
            <legend class="fieldset-legend">Settings</legend>
            <label class="label">
                    <input type="checkbox" data-bind="_newTabs" name="newTabs" 
                    class="checkbox"  />
                    Open links in new tabs?
            </label>
        </fieldset>
    </form>
</div>
